name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Force Failure
        run: exit 0

      - name: Unit test
        run: go test -cover ./...
      
      - name: Style
        run: | 
          fmt_output=$(go fmt ./...)
          if [ -n "$fmt_output" ]; then
           echo "Go files not formatted:"
           echo "$fmt_output"
           exit 1
          fi 
